
body {
    background: #f9f9f9;
}

/* MAIN */
.main_text {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 80px auto 60px;
}
.main_text h1 {
    font-size: 1rem;
    color: #F42A67FF;
}
.main_text h2 {
    font-size: 2rem;
}
.des_text {
    position: relative;
    text-align: center;
    line-height: 1.4;
    font-size: 0.9rem ;
}


/* CARD CONTENTS */
.card_contents {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    margin: 60px auto;
}

.card_contents .card {
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 20px;
    height: 125px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .card_title {
    margin: 0 auto;
    font-size: 1rem;
    padding-bottom: 8px;
}

.card .card_des {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
}

/* Go To Main BTN */
.main_btn {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: #d9d9d9 solid 1px;
    height: 50px;
    width: 200px;
    border-radius: 900px;
    display: flex; /* 중앙 정렬을 위해 flexbox 사용 */
    justify-content: center; /* 버튼 내부의 텍스트를 수평 중앙에 배치 */
    align-items: center; /* 버튼 내부의 텍스트를 수직 중앙에 배치 */
    margin: 60px auto;
    position: relative;
}