html, body {
    font-family: "Pretendard", AppleGothic, "Apple SD Gothic Neo", sans-serif;
    color: #000;
    overflow-x: hidden;
}
div {
    display: block; unicode-bidi: isolate;
}
main {
    display: block;
}

body {
    box-sizing: border-box;
    outline: 0;
    line-height: 1;
    position: relative;
    margin: 0;
}

article, header, nav, section {
    display: block;
}

h1 { font-family: inherit; color: inherit; margin: 0; font-size: 2em; align-content: center}
a { text-decoration: none; color: inherit; }
ul { padding: 0; margin: 0; list-style: none; }

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
}

/* 헤더 */
.headerArea .main-head { width: 100%; height: 100px; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 99; display: flex; flex-wrap: nowrap; align-items: center; transition: all .2s; }
.headerArea .warp { width: 100%; height: 100%; text-align: center; position: relative; display: flex; flex-wrap: nowrap; justify-content: space-between; }
.headerArea .nav li { display: block; text-align: left; margin-right: 56px; font-size: 16px; font-weight: 600; justify-content: space-between; align-content: center; }
.headerArea .nav ul { display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; padding: 0; margin: 0; list-style: none; align-content: center; }
.headerArea .nav li:hover { transition: all .2s; color: #F42A67; }
.headerArea .logo a { width: 100%; display: flex; align-items: center; z-index: 100; }
.headerArea .logo img { width: 100%; }
.headerArea .search { display: flex; align-items: center; justify-content:  center; background: none; border: none; }
.headerArea .search { display: flex; align-items: center; }
header .nav { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; height: 82px; margin-right: -16px; }

/* 메인 비주얼 */
.main { padding-top: 40px; background-color: #fff; }
.visual-banner { margin-bottom: 40px; display: flex; flex-wrap: wrap; width: 100%; height: 100%; }
.visual-banner .visual { position: relative; overflow: hidden; }
.visual-banner .visual .title-box { position: absolute; width: 50%; padding: 0; left: 80px; bottom: 140px; color: #555; }
.visual-banner .visual .title-box .title-text-p { color: #222; font-size: 16px; font-weight: 400; line-height: 1.2; }
.visual-banner .visual .title-box .title-text-span { color: #222; font-size: 48px; font-weight: 700; line-height: 1; padding-top: 20px; }
/* .visual-banner .visual .title-box .more-btn { display: flex; flex-wrap: nowrap; align-items: center; justify-content: flex-start; position: relative; } */
.visual-banner .visual .title-box .more-btn { display: flex; flex-wrap: nowrap; align-items: center; justify-content: space-between; position: relative; color: #222; font-size: 14px; font-weight: 700; line-height: 1; padding-top: 32px; background: none; border: none; padding-right: 6px; width: 60px; }
.visual-banner .visual .title-box .more-btn::after { content: ""; background: url("./source/arrow.svg") no-repeat; width: 13px; height: 13px; }


.visual-banner .visual .bg { width: 100%; height: 100%; object-fit: cover; vertical-align: middle; max-width: 100%; border-radius: 20px; overflow: hidden; }
/*display: flex; flex-wrap: nowrap; align-items: flex-start; align-content: center; flex-direction: column; */

/* 메인 하단 */
.block-banner .container .title-box {display: block; text-align: center; margin: 100px 0 60px 0; }
.block-banner .container .title-box .sub_text { display: block; margin-bottom: 20px; }
.block-banner ul { display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; }
.block-banner ul li { display: block; margin: 0 24px 24px 0; padding: 40px 40px 30px; background-color: #f9f9f9; width: calc(25%); border-radius: 20px; }
.block-banner ul li:last-child { margin-right: 0; }
.block-banner ul li span { position: relative; display: inline-block; padding-bottom: 20px; font-size: 16px; font-weight: 500; }
.block-banner ul li p { }












